
<% provide(:title, "About Us") %>
<!DOCTYPE html>
<html>
<head>
	<title><%= yield(:title) %></title>
</head>
<body>

<h1>
	This is a Project Management System for various Multinational Company.
</h1>
<h4>Developed by <b>Pooja Malvi
</br>
13bce051</b></h4>
</div>
</body>
</html>
